IO_LOC "sys_clk" 4;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "resetn" 88
IO_PORT "resetn" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

/////////
// LCD //
/////////
//LCD Control
IO_LOC "LCD_CLK" 77
IO_PORT "LCD_CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_HS" 25
IO_PORT "LCD_HS" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_VS" 26
IO_PORT "LCD_VS" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_DE" 48
IO_PORT "LCD_DE" PULL_MODE=DOWN IO_TYPE=LVCMOS33; 
IO_LOC "LCD_BL" 49
IO_PORT "LCD_BL" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//LCD Red
IO_LOC "LCD_R[0]" 42
IO_PORT "LCD_R[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_R[1]" 41
IO_PORT "LCD_R[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_R[2]" 40
IO_PORT "LCD_R[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_R[3]" 39
IO_PORT "LCD_R[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_R[4]" 38
IO_PORT "LCD_R[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//LCD Green
IO_LOC "LCD_G[0]" 37
IO_PORT "LCD_G[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_G[1]" 36
IO_PORT "LCD_G[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_G[2]" 35
IO_PORT "LCD_G[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_G[3]" 34
IO_PORT "LCD_G[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_G[4]" 33
IO_PORT "LCD_G[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_G[5]" 32
IO_PORT "LCD_G[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//LCD Blue
IO_LOC "LCD_B[0]" 31
IO_PORT "LCD_B[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_B[1]" 30
IO_PORT "LCD_B[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_B[2]" 29
IO_PORT "LCD_B[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_B[3]" 28
IO_PORT "LCD_B[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "LCD_B[4]" 27
IO_PORT "LCD_B[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 

