IO_LOC "sys_clk" 4;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "resetn" 88
IO_PORT "resetn" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// UART through USB-C port
IO_LOC "uart_rx_i" 70;
IO_LOC "uart_tx_o" 69;
IO_PORT "uart_rx_i" IO_TYPE=LVCMOS33;
IO_PORT "uart_tx_o" IO_TYPE=LVCMOS33;

// 5 LEDs for debug
IO_LOC "leds[4]" 20;
IO_PORT "leds[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
//
IO_LOC "leds[3]" 18;
IO_PORT "leds[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
IO_LOC "leds[2]" 17;
IO_PORT "leds[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
IO_LOC "leds[1]" 16;
IO_PORT "leds[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
IO_LOC "leds[0]" 15;
IO_PORT "leds[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;

IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;

